@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --basic: #0a4d68;
  --basicBg: #ebeaea;
  --color-dark-main: #111827;
  --color-main-red1: #e74c3c;
  --color-main-red2: #c74343;
  --color-main-red-dark: #891e1f;
  --color-main-blue1: #3498db;
  --color-main-blue2: #436de0;
  --color-main-blue-dark: #1f3e9e;
  --color-main-green1: #27ae60;
  --color-main-green2: #2d9275;
  --color-main-green-dark: #095944;
  --color-main-yellow1: #f39c12;
  --color-main-yellow2: #c37330;
  --color-main-yellow-dark: #843f11;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--basicBg);
}

html {
  background-color: var(--basicBg) !important;
  font-family: "Inter", sans-serif;
}

.ant-select-selector {
  border-radius: 8px !important; /* already there */
  border: none !important; /* same as border-none */
  color: #000 !important; /* text-blue-600 */
  font-weight: bold !important; /* font-bold */
  box-shadow: none !important; /* shadow-none */
  outline: none !important; /* outline-none */
  background-color: transparent !important;
}

.dark .ant-select-selector {
  color: #fff !important; /* text-white in dark mode */
}

/* Hover state */
.ant-select-selector:hover {
  border: none !important; /* border-none */
  box-shadow: none !important; /* shadow-none */
  outline: none !important; /* outline-none */
}

.bg-stars-light {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' ... fill='%23000000' ... %3C/svg%3E");
}

.bg-stars-dark {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' ... fill='%23ffffff' ... %3C/svg%3E");
}
